<!-- inherit from main template using flask -->
{% extends "main_template.html" %}

    {% block content %}
        <!-- create an add attribute page -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Add Attribute</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form action="/attributes/add" method="POST">
                        <div class="form-group">
                            <label for="attribute_name">Name</label>
                            <input type="text" class="form-control" id="attribute_name" name="attribute_name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="attribute_description">Description</label>
                            <input type="text" class="form-control" id="attribute_description" name="attribute_description" placeholder="Description">
                        </div>
                        <!-- create a radio for the active section with yes and no options, yes being the default -->
                        <div class="form-group">
                            <label for="attribute_active">Active</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="attribute_active" id="attribute_active" value="1" checked>
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="attribute_active" id="attribute_active" value="0">
                                    No
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}