<!-- inherit from main template using flask -->
{% extends "main_template.html" %}

    {% block content %}
    <!-- create an edit product form -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Edit Product</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/products/edit/{{ product.product_id }}" method="POST" enctype="multipart/form-data">
                    <!-- display the product image -->
                    <img src="{{ product.product_image_filepath }}" alt="{{ product.product_name }}" class="img-responsive" width="150" height="150">
                    
                    <p></p>
                    
                    <!-- upload an image file -->
                    <div class="form-group">
                        <label for="image">Upload Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>                   

                    <p></p>

                    <!-- display the product name -->
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ product.product_name }}">
                    </div>                
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" value="{{ product.product_description }}">
                    </div>
                    
                    <!-- Create a radio with two options for the active section -->
                    <div class="form-group">
                        <label for="active">Active</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="active" id="active" value="1" {% if product.product_active == 1 %}checked{% endif %}>
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="active" id="active" value="0" {% if product.product_active == 0 %}checked{% endif %}>
                                No
                            </label>
                        </div>
                    </div>                    

                    <p></p>

                    <!-- display the attributes the product already has with delete buttons -->
                    {% for attribute in used_attributes %}
                    <div class="form-group">
                        <label for="attribute">{{ attribute.attribute_name }}</label>                    
                    </div>
                    {% endfor %}

                    <!-- display the products attributes -->
                    <!-- Multiselect Dropdown -->
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
                                                        
                    <div class = "form-group">
                        <label for="attributes">Select Attributes...</label>
                        <select class="form-control selectpicker" multiple data-live-search="true" id="attributes" name="attributes">
                        {% for attribute in attributes %}
                            <option class = "form-control" value="{{attribute.attribute_id}}" id="attribute_selection" name="attribute_selection">{{attribute.attribute_name}}</option>
                        {% endfor %}
                        </select>
                        
                    </div>

                    <p></p>
                    <!-- create a section for product type with the current product type selected -->
                    <div class="form-group">
                        <label for="product_type">Product Type</label>
                        <select class="form-control" id="product_type" name="product_type">
                            <option class="form-control" value="0">Select Product Type...</option>
                            {% for product_type in product_types %}
                                <option class="form-control" value="{{product_type}}" {% if product.product_type == product_type %}selected{% endif %}>{{product_type}} </option>
                            {% endfor %}                                                            
                        </select>
                    </div>
         
                    <!-- create a section for product brand -->
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand" name="brand" value="{{ product.product_brand }}">
                    </div>

                    <!-- create a section for product price -->
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" name="price" value="{{ product.product_price }}">
                    </div>                        

                    <!-- create a section for product discount_price -->
                    <div class="form-group">
                        <label for="discount_price">Discount Price</label>
                        <input type="text" class="form-control" id="discount_price" name="discount_price" value="{{ product.product_discount_price }}">
                    </div>
                    
                    <!-- create a section for product strain -->
                    <div class="form-group">
                        <label for="strain">Strain</label>
                        <input type="text" class="form-control" id="strain" name="strain" value="{{ product.product_strain }}">
                    </div>

                    <!-- create a section for product strain_type -->
                    <div class="form-group">
                        <label for="strain_type">Strain Type</label>
                        <input type="text" class="form-control" id="strain_type" name="strain_type" value="{{ product.product_strain_type }}">
                    </div>

                    <!-- create a section for product thc_percentage -->
                    <div class="form-group">
                        <label for="thc_percentage">THC Percentage</label>
                        <input type="text" class="form-control" id="thc_percentage" name="thc_percentage" value="{{ product.product_thc_percentage }}">
                    </div>

                    <!-- create a section for product size -->
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input type="text" class="form-control" id="size" name="size" value="{{ product.product_size }}">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}

<!-- create a product edit page -->
