<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- import bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <!-- using bootstrap, create a navbar for the website -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- display the image in staticcalled tree ooon the navbar -->
                <img src="static/tree.png" width="50" height="50">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/attributes">Attributes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/product_attributes">Product Attributes</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/strains">Strains</a>
                    </li>
                </ul>
            </div>
            <!-- create a search bar in the nav bar -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>
               
    <!-- make a content block using flask -->
    {% block content %}
    
    {% endblock content%}

</body>
</html>